<% if current_user %>
 
  <p class="error">You're already logged in!</p>

<% else %>

  <div class="error"><%= @error if @error%></div>
    <br>
    <h2>Login</h2>
  <div class="login-signup">
      <%= form_tag login_path, :id => "login" do %>
        <div class="field_container"><%= label_tag "email", "Email" %></div>
        <div class="field_container"><%= text_field_tag :email %></div> 
        <br>
        <div class="field_container"><%= label_tag "password", "Password" %></div>
        <div class="field_container"><%= password_field_tag :password %></div> 
        <br>
        <div class="field_container"><%= submit_tag "Login", class: "button" %></div> 
      <% end %>

<% end %>

<br>
<br>

<h2>Signup</h2>

  <%= form_tag users_path, :id => "signup" do %>
     <div class="field_container"><%= label_tag "username", "Username" %></div>
     <div class="field_container"><%= text_field_tag "signup[username]" %></div>
     <br>
     <div class="field_container"><%= label_tag "email", "Email" %></div>
     <div class="field_container"><%= text_field_tag "signup[email]" %></div> 
     <br>
     <div class="field_container"><%= label_tag 'password', "Password" %></div>
     <div class="field_container"><%= password_field_tag "signup[password]" %></div> 
     <br>
     <div class="field_container"><%= label_tag "password_confirmation", "Password Confirmation" %></div>
     <div class="field_container"><%= password_field_tag "signup[password_confirmation]" %></div> 
     <br>
     <%= submit_tag "Signup", class: "button" %>
  <% end %>
</div>
<br>

<div class="error">
  <% if @signup_errors %>
    <ul>
      <% @signup_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="login_pic">
  <%= image_tag("tree.png", :class => 'login_pic') %>
</div>
