  <%= form_for @course do |f| %>
    <div id="errorExplanation">
      <% if @course.errors.any? %>
        <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved: <br>
        <% @course.errors.full_messages.each do |msg| %>
          <%= msg %>
          <br>
        <% end %>
        </ul>
    <% end %>
    </div>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :url %>
      <%= f.url_field :url %>
    </p>
    
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.submit :"Create or Edit Course" %>
    </p>
  <% end %>
